/**********>>>   GENERAL CSS   <<<**********/



/********** >>>>> IMAGES <<<<< **********/

.imageOne {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
    /*    border: 4px solid blue;*/
}

.imageTwo {
    width: 200px;
    
}

/**********>>>>> TIPOGRAPHY <<<<<**********/

p,
h1,
h2,
h3,
h4,
table,
li,
a,
fieldset,
:placeholder-shown,
input,
span
 {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

html {
    font-size: 16px;
}

h1 { 
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}


/*Utilizado en siguientes paginas: Inicio, Como Reservar?, Flota, Condiciones, Recorridos, Contacto, Reservar */
.fontColorOne,
a.fontColorOne {
    color: #097e41;
}

/*Utilizado en siguientes paginas: Inicio, Como Reservar?, Flota, Condiciones, Recorridos, Contacto, Reservar */
a,
tr.fontColorTwo {
    color: white;
}

/*Utilizado en siguientes paginas: Condiciones, Recorridos */
.fontColorThree {
    color: #f5c60d;
}

.spaceOne {
    padding-top: 10px;
}

.spaceTwo {
    margin-top: 50px;
}

/**********>>>>>   HEADER   <<<<<**********/

/*Utilizado en siguientes paginas: Inicio, Como Reservar?, Flota, Condiciones, Recorridos, Contacto, Reservar */
header {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    /*border: 2px solid red;*/
}

/*Utilizado en siguientes paginas: Inicio, Como Reservar?, Flota, Condiciones, Recorridos, Contacto, Reservar */
nav ul {
    display: flex ;
    width: 80%;
    justify-content: space-evenly;
    /*border: 2px solid orange;*/
}

.navbar {
    border-bottom: 2px solid #097e41;
    border-top: 20px solid #097e41;
    background-color: white;
}

.buttonOne {
    border-left: 2px solid #097e41;
}

/*Utilizado en siguientes paginas: Inicio, Como Reservar?, Flota, Condiciones, Recorridos, Contacto, Reservar */
ul.listOne li {
    display: flex;
}

/*Utilizado en siguientes paginas: Inicio, Como Reservar?, Flota, Condiciones, Recorridos, Contacto, Reservar */
.backgroundColorOne {
    background-color: #097e41;
}

/*Utilizado en siguientes paginas: Inicio, Como Reservar?, Flota, Condiciones, Recorridos, Contacto, Reservar */
.backgroundColorTwo {
    background-color: orange;
    font-weight: bold;
    border-radius: 5px;
}

/**********>>>   MAIN   <<<**********/

main {
    margin: 15px 30px;
    display: flex;
    flex-direction: column;
}

/*Utilizado en siguientes paginas: Recorridos */
.containerZero {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    gap: 50px;
}

/*Utilizado en siguientes paginas: Inicio */
.containerOne {
    border-radius: 10px;
    border-style: solid;
    border-color:  #f5c60d;
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
}

/*Utilizado en siguientes paginas: Inicio */
.containerTwo {
    text-align: center;
    margin-top: 40px;
    /*  border: 4px solid blue;*/
}

/*Utilizado en siguientes paginas: Inicio, Como reservar?, */
.containerThree {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-around;
    /*    border: 10px solid red;*/
}

/*Utilizado en siguientes paginas: Inicio, Como reservar?, */
.containerFour {
    display: flex;
    flex-direction: column;
    image-orientation: center;
    text-align: center;
    align-items: center;
    width: 30%;
    /*    border: 2px solid orange;*/
}

/*Utilizado en siguientes paginas: Recorridos */
.containerFive {
    max-width: 560px;
}

/*Utilizado en siguientes paginas: Flota */
.containerSix {
    display:grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
    /*border: 2px solid red;*/
}

/*Utilizado en siguientes paginas: Flota */
.containerSeven {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid orange;*/
}

.containerEight {
    display: flex;
    flex-direction: column;
    image-orientation: center;
    text-align: center;
    align-items: center;
    width: 20%;
    /*    border: 2px solid orange;*/}

.containerNine {
        margin: 20px 20px;
        max-width: 600px;
    }


/*Utilizado en siguientes paginas: Inicio, Como Reservar?, Flota, Condiciones y FAQ, Recorridos, Contacto, Reservar */
hr {
    border-width: 2px;
    border-color: #097e41;
}

/*Utilizado en siguientes paginas: Inicio, Como Reservar?, Flota, Condiciones y FAQ, Recorridos, Contacto, Reservar */
a {
    text-decoration: none;
}

/*Utilizado en siguientes paginas: Contacto, Reservar*/
fieldset {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-top: 20px;
    border: 2px solid #f5c60d;
}

/*Utilizado en siguientes paginas: Contacto, Reservar*/
.widthOne {
    width: 100%;
}

/*Utilizado en siguientes paginas: Contacto, Reservar*/
button {
    margin-top: 10px;
}


/**********>>>>>   FOOTER   <<<<<**********/


/**********>>>>>   MEDIA QUERIES  <<<<<**********/

/**********>>>>>   TABLET   <<<<<**********/

@media screen and  (min-width: 768px) and (max-width: 1023px) {
    /*body {
        background-color: orange;
    }*/
    .containerFour {
        width:40%
    }

    .containerSix {
            display:grid;
            grid-template-columns: auto auto auto;
    }

    .containerZero {
        display: grid;
        grid-template-columns: auto;
        justify-content: space-around;
    }

    .containerEight {
        width: 40%;
    }

    .buttonOne {
        border-left: none;
    }
}

/**********>>>>>   MOBILE   <<<<<**********/

@media screen and (max-width: 767px) {
    /*body {
        background-color: red;
    }*/

    .containerFour {
        width: 100%;
    }

    .containerSix {
        display:grid;
        grid-template-columns: auto auto;
}

.containerZero {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-around;
}

.containerEight {
    width: 100%;
}

.buttonOne {
    border-left: none;
}
}