/* VARIABLES */
/* PARTIALS */
p,
h1,
h2,
h3,
h4,
table,
li,
a,
fieldset,
:placeholder-shown,
input,
span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  font-size: 16px;
}

.fontSizeOne {
  font-size: 1.8rem;
}

.fontSizeTwo {
  font-size: 1.6rem;
}

.fontSizeThree {
  font-size: 1.4rem;
}

.fontSizeFour {
  font-size: 1.2rem;
}

.fontSizeFive {
  font-size: 1rem;
}

.fontSizeSix {
  font-size: 0.8rem;
}

.fontColorOne,
a.fontColorOne {
  color: #097e41;
}

a,
tr.fontColorTwo {
  color: white;
}

.fontColorThree {
  color: #f5c60d;
}

html {
  scroll-behavior: smooth;
}

main {
  margin: 15px 30px;
  display: flex;
  flex-direction: column;
}

.spaceTwo {
  margin-top: 50px;
}

.imageOne {
  display: flex;
  max-width: 100%;
  height: 500px;
  background-image: url(../img/iguazu4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom center;
  filter: brightness(0.9);
}

.imageTwo {
  width: 200px;
}

.imageThree {
  background-color: orange;
  width: 150px;
  height: 150px;
  margin-left: 70px;
  filter: brightness(0.9);
  background-image: url(../img/logo.jpg);
  background-size: contain;
  background-position: top center;
  border-radius: 0px 0px 100px 100px;
}

.imageFour {
  display: flex;
  justify-content: left;
  max-width: 100%;
  height: 500px;
  background-image: url(../img/iguazu3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom center;
  filter: brightness(0.9);
}

.imageFive {
  display: flex;
  justify-content: left;
  max-width: 100%;
  height: 500px;
  background-image: url(../img/iguazu4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom center;
  filter: brightness(0.9);
}

.imageSix {
  display: flex;
  justify-content: left;
  max-width: 100%;
  height: 500px;
  background-image: url(../img/iguazu2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  filter: brightness(0.9);
}

.imageSeven {
  display: flex;
  justify-content: left;
  max-width: 100%;
  height: 500px;
  background-image: url(../img/iguazu1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  filter: brightness(0.9);
}

.imageEight {
  display: flex;
  justify-content: left;
  max-width: 100%;
  height: 500px;
  background-image: url(../img/sanignacio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  filter: brightness(0.9);
}

.imageNine {
  display: flex;
  justify-content: left;
  max-width: 100%;
  height: 500px;
  background-image: url(../img/hito.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom center;
  filter: brightness(0.9);
}

.imageEleven {
  width: 100px;
  height: 100px;
  margin: 20px 70px;
  opacity: 1;
  background-image: url(../img/logo.jpg);
  background-size: contain;
  background-position: top center;
  border-radius: 100px;
}

.imageTwelve {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 50px;
}

.imageThirdteen {
  margin-bottom: 20px;
}

header {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

nav ul {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

.navegador {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
}

.navbar-transparent {
  opacity: 1;
}

.buttonOne {
  background-color: rgba(144, 238, 144, 0.4);
  font-weight: bold;
}

ul.listOne li {
  display: flex;
}

.backgroundColorOne {
  background-color: #097e41;
}

.backgroundColorTwo {
  font-weight: bold;
  border-radius: 5px;
}

form {
  margin: auto;
}

fieldset {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-top: 20px;
  border: 2px solid #f5c60d;
}

button {
  margin-top: 10px;
}

textarea {
  height: 20vh;
}

.spaceOne {
  padding-top: 10px;
}

.widthOne {
  width: 100%;
}

hr {
  border-width: 2px;
  border-color: #097e41;
}

.containerZero {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  gap: 50px;
}

.containerOne {
  border-radius: 10px;
  border-style: solid;
  border-color: #f5c60d;
  padding: 5px 10px 5px 10px;
  margin-top: 10px;
}

.containerTwo {
  text-align: center;
  margin-top: 40px;
}

.containerThree {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: space-around;
  margin-top: 30px;
}

.containerFour {
  display: flex;
  flex-direction: column;
  image-orientation: center;
  text-align: center;
  align-items: center;
  width: 20%;
  height: 250px;
  background: linear-gradient(to right, #359B5B, #55B876);
  border-radius: 13px;
}

.containerFive {
  max-width: 560px;
}

.containerSix {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  width: 100%;
}

.containerSeven {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 390.5px;
}

.containerEight {
  display: flex;
  flex-direction: column;
  image-orientation: center;
  text-align: center;
  align-items: center;
  width: 20%;
}

.containerNine {
  margin: 20px 20px;
  max-width: 600px;
}

.containerTen {
  margin-top: 20px;
}

.containerEleven {
  margin: 0px 10px;
}

.containerTwelve {
  display: flex;
}

.containerThirdteen {
  display: flex;
  width: 15%;
  justify-content: flex-end;
}

.containerFourteen {
  display: block;
}

.containerFifthteen {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: auto;
}

.facebook {
  display: inline-block;
  margin: 65px 20px;
  width: 10%;
}

.instagram {
  display: inline-block;
  margin: 65px 20px;
  width: 10%;
}

.whatsapp {
  display: inline-block;
  margin: 65px 20px;
  width: 10%;
}

/* MIXIN */
.anchorOne {
  text-decoration: none;
  font-weight: bold;
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1400px) {
  .containerThree {
    margin-top: 0px;
  }
  .containerFour {
    width: 40%;
    margin-bottom: 20px;
  }
  .containerSix {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .containerZero {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-around;
  }
  .containerEight {
    width: 40%;
  }
  .buttonOne {
    border-left: none;
  }
  section div div p {
    font-size: 0.8rem;
  }
  main section h1 {
    margin-bottom: 30px;
  }
}
/* MOBILE */
@media screen and (max-width: 767px) {
  main section h1 {
    margin-bottom: 30px;
  }
  .containerThree {
    margin-top: 0px;
  }
  .containerFour {
    width: 100%;
    margin-bottom: 20px;
  }
  .containerSix {
    display: grid;
    grid-template-columns: auto auto;
  }
  .containerZero {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-around;
  }
  .containerEight {
    width: 100%;
  }
  .containerFourteen {
    display: none;
  }
  .containerThirdteen {
    margin: 0px 30px 0px 0px;
  }
  .buttonOne {
    border-left: none;
  }
}

/*# sourceMappingURL=style.css.map */
