header {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

nav ul {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

.navegador {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
}

.navbar-transparent{
  opacity: 1;
}

.buttonOne {
  background-color: rgba(144, 238, 144, 0.4);
  font-weight: bold;
}

ul.listOne li {
  display: flex;
}

.backgroundColorOne {
  background-color: $color-fontColorOne;
}

.backgroundColorTwo {
  font-weight: bold;
  border-radius: 5px;
}