header {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

nav ul {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}
/*
a {
  text-decoration: none;
}
*/
.navbar {
  border-bottom: 2px solid $color-fontColorOne;
  border-top: 20px solid $color-fontColorOne;
  background-color: white;
}

.buttonOne {
  border-left: 2px solid $color-fontColorOne;
}

ul.listOne li {
  display: flex;
}

.backgroundColorOne {
  background-color: $color-fontColorOne;
}

.backgroundColorTwo {
  background-color: orange;
  font-weight: bold;
  border-radius: 5px;
}