header {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

nav ul {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

.navegador {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 80%;

  a:link {
    color:red;
  }

  a:visited {
    color: white;
  }

  a:hover {
    color: pink;
    background-color: orange;
  }

  a:active {
    color: black;
  }
}

.navbar-transparent{
  opacity: 1;
}

.buttonOne {
  border-left: 2px solid $color-fontColorOne;
}

ul.listOne li {
  display: flex;
}

.backgroundColorOne {
  background-color: $color-fontColorOne;
}

.backgroundColorTwo {
  background-color: orange;
  font-weight: bold;
  border-radius: 5px;
}