.imageOne {
    display: flex;
    max-width: 100%;
    height: 500px;
    background-image: url(../img/iguazu4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
    filter: brightness(0.9);
}

.imageTwo {
    width: 200px;
}

.imageThree {
    background-color: orange;
    width: 150px;
    height: 150px;
    margin-left: 70px;
    filter: brightness(0.9);
    background-image: url(../img/logo.jpg);
    background-size: contain;
    background-position: top center;
    border-radius:0px 0px 100px 100px ;
    
}

.imageFour {
    display: flex;
    justify-content: left;
    max-width: 100%;
    height: 500px;
    background-image: url(../img/iguazu3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
    filter: brightness(0.9);
}

.imageFive {
    display: flex;
    justify-content: left;
    max-width: 100%;
    height: 500px;
    background-image: url(../img/iguazu4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
    filter: brightness(0.9);
}

.imageSix {
    display: flex;
    justify-content: left;
    max-width: 100%;
    height: 500px;
    background-image: url(../img/iguazu2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    filter: brightness(0.9);
}

.imageSeven {
    display: flex;
    justify-content: left;
    max-width: 100%;
    height: 500px;
    background-image: url(../img/iguazu1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    filter: brightness(0.9);
}

.imageEight {
    display: flex;
    justify-content: left;
    max-width: 100%;
    height: 500px;
    background-image: url(../img/sanignacio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    filter: brightness(0.9);
}

.imageNine {
    display: flex;
    justify-content: left;
    max-width: 100%;
    height: 500px;
    background-image: url(../img/hito.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
    filter: brightness(0.9);
}

.imageEleven {
    width: 100px;
    height: 100px;
    margin: 20px 70px;
    opacity: 1;
    background-image: url(../img/logo.jpg);
    background-size: contain;
    background-position: top center;
    border-radius: 100px;
}

.imageTwelve {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 50px
}