/* TABLET */





@media screen and (min-width: 768px) and (max-width: 1400px) {

  .navbar-collapse {
    display: none;
  }
  .navbar-toggler {
    display: block;
  }
  .navbar-toggler-icon {
    display: inline-block;
  }
  .navbar-toggler[aria-expanded="true"] {
    display: none;
  }
  .navbar-collapse.show {
    display: block;
  }
  .containerThree {
    margin-top: 0px;
  }
  
  .containerFour {
      width: 40%; 
      margin-bottom: 20px;
    }
  
    .containerSix {
      display: grid;
      grid-template-columns: auto auto auto;
    }
  
    .containerZero {
      display: grid;
      grid-template-columns: auto;
      justify-content: space-around;
    }
  
    .containerEight {
      width: 40%;
    }
  
    .buttonOne {
      border-left: none;
    }

    section div div p {
      font-size: 0.8rem;
    }

    main section h1 {
      margin-bottom: 30px;
    }
  }

  /* MOBILE */

  @media screen and (max-width: 767px) {
    

    main section h1 {
      margin-bottom: 30px;
    }
    .containerThree {
      margin-top: 0px;
    }
    
    .containerFour {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .containerSix {
      display: grid;
      grid-template-columns: auto auto;
    }
  
    .containerZero {
      display: grid;
      grid-template-columns: auto;
      justify-content: space-around;
    }
  
    .containerEight {
      width: 100%;
    }
  
    .buttonOne {
      border-left: none;
    }
  }

