p,
h1,
h2,
h3,
h4,
table,
li,
a,
fieldset,
:placeholder-shown,
input,
span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  font-size: 16px;
}

.fontSizeOne {
  font-size: $size-fontSizeOne;
}

.fontSizeTwo {
  font-size: 1.6rem;
}

.fontSizeThree {
  font-size: 1.4rem;
}

.fontSizeFour {
  font-size: 1.2rem;
}

.fontSizeFive {
  font-size: 1rem;
}

.fontSizeSix {
  font-size: 0.8rem;
}

.fontColorOne,
a.fontColorOne {
  color: $color-fontColorOne;
}

a,
tr.fontColorTwo {
  color: $color-fontColorTwo;
}

.fontColorThree {
  color: $color-fontColorThree;
}

section div div p {
  font-size: 0.8rem;
}

